<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PUNTEGGI</title>
</head>
<body>
    <p>Punteggio dei Grifondoro: <span th:text="${gryffindorScore}"></span></p>
    <p>Punteggio dei Tassofrasso: <span th:text="${hufflepuffScore}"></span></p>
    <p>Punteggio dei Sempreverde: <span th:text="${slytherinScore}"></span></p>
    <p>Punteggio dei Rocketclaw!: <span th:text="${rocketclawScore}"></span></p>
    <p>Il vincitore è...: <span th:text="${winner}"></span></p>
</body>
</html>